  <div id="contents">
    <div>
        <div id="outputArea">
          <ul>
            <li v-for="item in displayItems" v-bind:key="item.title">
              {{ item.pubDate }}<br />
              <a v-bind:href="item.link">{{ item.title }}</a>
            </li>
          </ul>
        </div>
        <div id="inputArea">
          <input type="range" min="0" max="10" v-model="range" />
          <button @click="sortBy('title')">title</button>
          <button @click="sortBy('isoDate')">isoDate</button>
          <p>"現在のソート："{{ sort_key }}:{{ sort_asc ? "昇順" : "降順" }}</p>
        </div>
    </div>
  </div>

  <div id="footer">

  </div>